<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="ConCAD"
            id="ConCAD">
      </category>
      <view
            name="ConCAD View"
            icon="icons/ico.ico"
            category="ConCAD"
            class="concad.ui.views.ConCADView"
            id="concad.ui.views.ConCADView">
      </view>
   </extension>
  <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view 
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="concad.ui.views.ConCADView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="ConCAD.findSmellsContribution"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="concad.ui.actions.FindDesignFlawAction"
               enablesFor="+"
               id="ConCAD.findSmellsAction1"
               label="Find Code Anomalies"
               menubarPath="ConCAD.menu1/ConCAD.groupMarker1">
         </action>
         <menu
               id="ConCAD.menu1"
               label="ConCAD"
               path="additions">
            <groupMarker
                  name="ConCAD.groupMarker1">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
      </objectContribution>
   </extension>
   <extension
         id="CONCAD_BUILDER"
         name="CONCAD BUILDER"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="concad.core.builder.IncrementalBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="CONCAD_NATURE"
         name="%concad.nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="concad.core.nature.Nature">
         </run>
      </runtime>
      <builder
            id="ConCAD.CONCAD_BUILDER">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <menu
               id="CONCAD.UI.MENU.ROOT"
               label="ConCAD Smell Detector">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <or>
                        <instanceof
                              value="org.eclipse.core.resources.IResource">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.jdt.core.IJavaElement">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
            <command
                  commandId="ConCAD.ui.command.enable_plugin"
                  label="Enable ConCAD Smell Detector"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="ConCAD.ui.propertytester.isEnabled">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="ConCAD.ui.command.disable_plugin"
                  label="Disable ConCAD Smell Detector"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="ConCAD.ui.propertytester.isDisabled">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="ConCAD.ui.command.open_settings"
                  label="Settings..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="concad.ui.command.EnableScanOnProject"
            id="ConCAD.ui.command.enable_plugin"
            name="Enable ConCAD Smell Detector">
      </command>
      <command
            defaultHandler="concad.ui.command.DisableScanOnProject"
            id="ConCAD.ui.command.disable_plugin"
            name="Disable ConCAD Smell Detector">
      </command>
      <command
            defaultHandler="concad.ui.command.OpenSettingsPreferencePage"
            id="ConCAD.ui.command.open_settings"
            name="Settings...">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="concad.ui.propertytester.EnableDisableMenu"
            id="CONCAD.UI.PROPERTYTESTER.ENABLEDISABLEMENU"
            namespace="ConCAD.ui.propertytester"
            properties="isEnabled, isDisabled"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
   </extension>
   </plugin>
   
